# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

ewarm
Debug
settings
*.dep
LCD_demo/lcd.ewd
LCD_demo/lcd.ewp
LCD_demo/src/cfaf128x128x16.c
LCD_demo/src/cfaf128x128x16.h
LCD_demo/src/lcd.c
LCD_demo/src/startup_ewarm.c
LCD_demo/Tiva.icf
Projeto_Final/src/ex_interrupts.c
